In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Correct file path
file_path = '../data/einkommen.train'

# Try to read the dataset (assuming it's in a readable format)
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(data.head())

       39          State-gov   77516      Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311      Bachelors   13   Married-civ-spouse
1      38            Private  215646        HS-grad    9             Divorced
2      53            Private  234721           11th    7   Married-civ-spouse
3      28            Private  338409      Bachelors   13   Married-civ-spouse
4      37            Private  284582        Masters   14   Married-civ-spouse
...    ..                ...     ...            ...  ...                  ...
29994  30            Private   55481        Masters   14        Never-married
29995  48            Private  119471      Assoc-voc   11   Married-civ-spouse
29996  61          Local-gov  167347   Some-college   10   Married-civ-spouse
29997  41            Private  184378        HS-grad    9            Separated
29998  36            Private  348960        HS-grad    9        Never-married

             Adm-clerical   Not-in-family                White     Male  \
0         Exec-managerial         Husband                White     Male
1       Handlers-cleaners   Not-in-family                White     Male
2       Handlers-cleaners         Husband                Black     Male
3          Prof-specialty            Wife                Black   Female
4         Exec-managerial            Wife                White   Female
...                   ...             ...                  ...      ...
29994        Tech-support       Unmarried                White     Male
29995       Other-service         Husband   Asian-Pac-Islander     Male
29996        Adm-clerical         Husband                White     Male
29997        Craft-repair   Not-in-family                White     Male
29998        Tech-support   Not-in-family                White     Male

        2174   0   40   United-States   <=50K
0          0   0   13   United-States   <=50K
1          0   0   40   United-States   <=50K
2          0   0   40   United-States   <=50K
3          0   0   40            Cuba   <=50K
4          0   0   40   United-States   <=50K
...      ...  ..  ...             ...     ...
29994      0   0   45       Nicaragua       ?
29995      0   0   56     Philippines       ?
29996      0   0   35   United-States       ?
29997      0   0   40   United-States       ?
29998      0   0   50   United-States       ?

[29999 rows x 15 columns]